
    <!-- Blog Details Hero Begin -->
    <section class="blog-details-hero set-bg" style="background-image: url({{ url_for('static', filename='img/breadcrumb.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog__details__hero__text">
                        <h2>About the project</h2>
                        <h4>This is just a homework from group 2</h4>
                        <ul>
                            <li>By Group 2</li>
                            <li>{{ current_time }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7 order-md-1 order-1">
                    <div class="blog__details__text">
                        <img src="img/blog/details/details-pic.jpg" alt="">
                        <h4>計畫緣起：</h4>
                        <p>根據行政院環保署國家溫室氣體減量法規資訊網的統計，台灣在2017年的能源使用CO2排放總量為268.9百萬公噸，占全球排放總量的0.819%，排名全球第21位。
                            每人平均排放量為11.38公噸，排名全球第19位，碳排放密集度為0.26公斤CO2/美元。
                            而行政院環保署於2018年6月28日發佈的公告指出，台灣將以全國為範疇減量產生之溫室氣體，涵蓋氣體包括二氧化碳(CO2)、甲烷(CH4)、氧化亞氮(N2O)、氫氟碳化物(HFCs)、全氟碳化物(PFCs)、六氟化硫(SF6)和三氟化氮(NF3)。
                            透過國內相關部門的努力，期望達成國家溫室氣體減量之中長期目標願景。</p><br>
                        <h4>計畫宗旨：</h4>
                        <p>依主計總處人口數資料計算，2017 年人均排放量約 11.44 公噸 CO2/人，2020 年減少至 10.91 公噸 CO2/人，2021 年則增加至 11.38 公噸 CO2/人。
                            本計畫旨在透過設計一個專業且易於使用的網站，協助民眾計算每日所排放的CO2量，藉此喚起民眾對於環保議題的關注和加強環保意識，並推廣環保生活至一般民眾之中。</p><br>
                        <h4>計畫目標：</h4>
                        <p>希望透過網站，讓民眾可以去計算自己一天的碳排放量，喚起民眾對於環保議題的重視和關注，並鼓勵民眾實踐環保生活。</p>
                        <h4>參考資料：</h4>
                        <p>經濟部能源局－110年度 我國燃料燃燒二氧化碳排放統計與分析、國家溫室氣體減量法規資訊網－溫室氣體減量級管理法</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
